@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
    --cnz: #71717A;
    --cnz2: #27272A;
    --cor-de-fundo: #18181b;
    --cor-de-fundo-light: #dfdfdf;
    --bco: #FFF;
    --preto: #000000;
    --fonte-timer: "Orbitron";
    --fonte-principal: "Inter";
    --cor-borda-botao: #84CC16;
    --cor-fundo-botao: #82cb151a;
    --cor-vermelha-botao: #cc0000;
    --cor-vermelha-botao-10: rgba(204, 0, 0, 0.10);
}


* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 10em;
    font-family: var(--fonte-timer);
    font-size: 18px;
    border: 1px solid var(--cnz2);

}

span {
    color: var(--cor-borda-botao);
    border: var(--cor-borda-botao) 1px solid;
    background-color: var(--cor-fundo-botao);
    border-radius: 5px;
    padding: .2em;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    color: var(--bco);
    height: 100vh;
}

body.light {
    background-color: var(--cor-de-fundo-light);
    color: var(--preto);
    border: 1px solid var(--cnz2);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    gap: 10em;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

circle {
    transition: stroke-dashoffset 0.5s liner;
}

.social_links {
    background-color: var(--cnz2);
    padding: 1em;
    border-radius: 5px;
    margin: 0 0.2em;
}

.social_links:hover {
    border: 1px solid var(--cor-borda-botao);
}

.social_links img {
    width: 20px;
    height: 20px;
}

.container {
    border: 1px solid var(--cnz2);
    border-radius: 25px;

}

.container-timer {
    position: relative;
    width: 600px;
    height: 600px;
}



.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#timer {
    font-family: var(--fonte-timer);
    font-size: 130px;
    font-weight: bold;
    color: var(--branco);
    margin: 0.2em 0;
    color: var(--cor-borda-botao);
}

button {
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #ffffff5d;
    cursor: pointer;
    border-radius: .5em;
    text-transform: uppercase;
}

button:hover {
    color: var(--cor-borda-botao);
    font-weight: 700;
    border: 1px solid var(--cor-borda-botao);
    background-color: var(--cor-fundo-botao);
}

button.light {
    color: var(--preto);
}

#progress {
    stroke: var(--cor-borda-botao)
}

.botao_excluir img {
    border: none;
    width: 20px;
    height: 20px;
    align-content: end;

}

.botao_excluir:hover {

    border: none;
}

.ativo {
    color: var(--cor-borda-botao);
    font-weight: 700;
    border: 1px solid var(--cor-borda-botao);
    background-color: var(--cor-fundo-botao);
}

.f_ativo {
    color: var(--cor-borda-botao);

}

.container_titulo {
    padding: 1.5em;
    border-bottom: 1px solid var(--cnz);

}

.container_titulo h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.container_titulo p {
    color: var(--cnz);
}

.lista-de-tarefas {
    height: 520px;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.lista-de-tarefas::-webkit-scrollbar {
    background: var(--cnz2);
    width: 5px;
}

.lista-de-tarefas::-webkit-scrollbar-thumb {
    background-color: var(--cor-borda-botao);
    border-radius: 25px;
}

.container_lista-de-tarefas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista-item-container {
    display: flex;
    gap: 0.5em;
    border-bottom: 1px solid var(--cnz);
    margin: .5em 1em;
    padding: 0.5em 0.5em;
    align-items: center;


}

.lista-item-container p {
    font-weight: 600;
    font-size: 16px;
}
 
.lista-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.tarefa-input {
    width: 400px;
    padding: 1em;
    color: var(--bco);
    font-size: 16px;
    outline: none;
}

.input_container {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;


}

.add_tarefa {
    font-size: 18px;
    border-radius: 0 .5em 0.5em 0;

}

.tarefa-input {
    background-color: var(--cnz2);
    border: none;
    border-radius: 0.5em 0 0 0.5em;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--cnz);
    border-radius: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: transparent;
    border-color: var(--cor-borda-botao);
}


input[type="checkbox"]:checked::after {
    content: "✔";
    color: var(--cor-borda-botao);
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alerta {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--cnz);
    font-size: 20px;
    text-align: center;
}

.botao_excluir:hover {
   color: var(--cor-vermelha-botao);
   background-color: var(--cor-vermelha-botao-10);
}