@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --cnz: #71717A;
    --cnz2: #27272A;
    --cor-de-fundo: #18181b;
    --bco: #FFF;
    --preto: #000000 --fonte-timer: "Rajdhani";
    --fonte-principal: "Inter";

}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    color: var(--bco);
    gap: 10em;
}

.container {
    border: 1px solid var(--cnz2);
    border-radius: 25px;
}

.container-timer {
    position: relative;
    width: 600px;
    height: 600px;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#timer {
    font-family: var(--fonte-timer);
    font-size: 150px;
    font-weight: bold;
    color: var(--branco);
}

button {
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #ffffff5d;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

button:hover {
    color: white;

}

.container_titulo {
    padding: 1.5em;
    border-bottom: 1px solid var(--cnz);

}

.container_titulo h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.container_titulo p {
    color: var(--cnz);
}

.lista-de-tarefas {
    padding: 0;
    margin: 0;
}

.container_lista-de-tarefas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista-item-container {
    display: flex;
    gap: 0.5em;
    border-bottom: 1px solid var(--cnz);
    margin: .5em 1em;
    padding: 0.5em 0.5em;

}

.lista-item-container p {
    font-weight: 600;
    font-size: 16px;
}

.tarefa-input {
    width: 400px;
}

.input_container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 2em;
    width: 100%;
}

.tarefa-input {
    background-color: var(--cnz2);
    border: none;
    border-radius: 0.5em;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--cnz);
    border-radius: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: transparent;
    border-color: lime;
}


input[type="checkbox"]:checked::after {
    content: "✔";
    color: lime;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}